*, *::before, *::after
  margin: 0
  +box

html
  scroll-behavior: smooth

@media screen and (prefers-reduced-motion: reduce)
  html
    scroll-behavior: auto

body
  background-color: $white
  color: $black
  font-family: Nunito, sans-serif

ul
  margin: 0
  padding: 0
  list-style: none

a
  text-decoration: none

input[type="number"].no-arrows
  -moz-appearance: textfield

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

label
  visibility: hidden
  position: absolute
  width: 0
  font-size: 0

.bg
  &_black
    background-color: $black
    color: $white

.green
  color: $green
  &_dark
    color: $darkGreen

.underline
  text-decoration: underline

main
  margin-top: 60px
  font-size: 18px

  img
    max-width: 600px

.container
  padding: 0 20px
  margin: 0 auto
  max-width: 1260px
  width: 100%

  &_body
    position: relative
    overflow: hidden

  &_560
    padding: 0 16px
    margin: 0 auto
    max-width: 592px
    width: 100%

.wrapper
  &_center
    display: flex
    justify-content: center

.title
  &_h1
    display: block
    font-size: 106px
    font-family: Comfortaa, sans-serif
    font-weight: 400
    text-align: center
    line-height: 1.1
    &_small
      font-size: 30px
      line-height: 1.2
      font-weight: 400

  &_h2
    color: $green
    font-size: 60px
    line-height: 1
    font-family: Comfortaa, sans-serif
    font-weight: 700
    text-align: center
  &_h3
    margin: 10px 0
    font-size: 40px
    font-weight: 600
    color: $green

.logo
  display: inline-block
  min-width: 80px
  &__link
    cursor: pointer
    &__image
      margin-bottom: -2px
      width: 40px
      height: 48px
  span
    font-family: Comfortaa, sans-serif
    font-weight: 400
    font-size: 34px

.btn
  border: none
  font-family: Muller, sans-serif
  cursor: pointer
  text-decoration: none

  &_green
    padding: 8px 30px
    font-family: Comfortaa, sans-serif
    font-size: 28px
    color: white
    background-color: $green
    height: 60px
    +center()
    +border-radius(30px)
  &_burger
    padding: 0
    position: relative
    +center
    width: 28px
    height: 20px
    font-size: 0
    background-color: inherit
    border: none
    z-index: 107
    cursor: pointer

    &:focus
      outline: none

    &:focus-visible
      outline: var(--purple)

    span
      display: block
      width: 100%
      height: 2px
      background-color: $darkGreen
      transition: transform 0.3s, background-color 0.3s ease-out

    span::before, span::after
      content: ''
      position: absolute
      right: 0
      display: block
      width: 100%
      height: 2px
      background-color: $darkGreen
      transition: transform 0.3s ease-in-out

    span::before
      top: 0

    span::after
      bottom: 0

    &.active span
      background-color: transparent

    &.active span::before
      background-color: $turquoise
      transform: rotate(45deg)
      top: 9px

    &.active span::after
      background-color: $turquoise
      transform: rotate(-45deg)
      bottom: 9px

  &_close
    border: none
    background-color: transparent
    width: 40px
    height: 40px
    cursor: pointer

    span
      position: relative
      font-size: 0
      display: block
      width: 100%
      height: 2px
      background-color: $darkGreen
      transform: rotate(45deg)
      transition: background-color 0.3s

      &::before
        content: ''
        position: absolute
        right: 0
        top: 0
        left: 0
        display: block
        width: 100%
        height: 2px
        background-color: $darkGreen
        transform: rotate(90deg)
        transition: background-color 0.3s

    &:hover
      span, span::before
        background-color: $turquoise

.nav
  &__list
    display: flex
    flex-flow: wrap
    gap: 12px

  &__item
    display: block

  &__link
    padding: 4px
    display: block
    white-space: nowrap
    font-size: 18px
    font-weight: 700
    transition: color 200ms ease-in-out

.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1050
  display: none
  overflow: hidden
  outline: 0
  transition: background-color 0.3s

  &.open
    overflow-x: hidden
    overflow-y: auto
    background-color: hsla(0, 0%, 0%, 0.5)

    .modal
      &__dialog
        transform: translateY(0)

  &__dialog
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    width: 100%
    transform: translateY(-100%)
    transition: transform 0.6s

  &__content
    padding: 32px
    background-color: $white
    width: 550px
    max-width: 100%

  &__title
    margin-bottom: 20px
    font-size: 36px
    line-height: 1.4
    font-weight: 400
    text-align: center
    color: $turquoise

  &__close-wrapper
    display: flex
    flex-flow: row-reverse

  &__fields-wrapper
    display: flex
    flex-flow: column
    gap: 16px

    label
      font-size: 20px
      text-transform: uppercase
      color: green

  &__input
    margin-bottom: 18px
    padding: 21px 20px
    display: block
    width: 100%
    height: 38px
    border: 1px solid #e4e4e4
    border-radius: 0
    -webkit-transition: border-color 400ms ease
    transition: border-color 400ms ease
    font-family: Nunito, sans-serif
    color: #000
    font-size: 18px
    line-height: 26px
    font-weight: 500
    text-align: left

    &::placeholder
      color: hsl(217, 17%, 91%)
      font-weight: 300

    &:active
      border-color: hsl(222, 7%, 28%)

    &:focus
      outline: hsl(217, 17%, 91%)

  .btn_submit
    margin-top: 32px

.quote
  padding: 8px 30px 20px
  position: relative
  border-bottom: 3px solid hsla(14, 100%, 68%, 0.56)

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    bottom: 20px
    width: 5px
    background-color: $darkGreen

.half
  &__wrapper
    display: flex

  &__block
    flex: 1

.iframe
  &__wrapper
    width: 553px
    height: 595px
    padding: 0
    overflow: hidden

  &_resp
    width: 1105px
    height: 1190px
    border: 0
    -ms-transform: scale(0.5)
    -moz-transform: scale(0.5)
    -o-transform: scale(0.5)
    -webkit-transform: scale(0.5)
    transform: scale(0.5)
    -ms-transform-origin: 0 0
    -moz-transform-origin: 0 0
    -o-transform-origin: 0 0
    -webkit-transform-origin: 0 0
    transform-origin: 0 0
//&__wrapper
//  position: relative
//  overflow: hidden
//  padding-top: 56.25%
//&_resp
//  position: absolute
//  top: 0
//  left: 0
//  width: 100%
//  height: 100%
//  border: 0
//

.tabcontent
  animation: fadeEffect 1s

@keyframes fadeEffect
  from
   opacity: 0
  to
   opacity: 1


.flip-vertical-left
  -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both

@-webkit-keyframes flip-vertical-left
  0%
    -webkit-transform: rotateY(0)
    transform: rotateY(0)

  100%
    -webkit-transform: rotateY(-180deg)
    transform: rotateY(-180deg)


@keyframes flip-vertical-left
  0%
    -webkit-transform: rotateY(0)
    transform: rotateY(0)

  100%
    -webkit-transform: rotateY(-180deg)
    transform: rotateY(-180deg)



