/*@font-face {*/
/*    font-family: "Nunito";*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url('../fonts/Nunito-Regular.woff2') format("woff2"),*/
/*    url('../fonts/Nunito-Regular.woff') format("woff"),*/
/*    url('../fonts/Nunito-Regular.ttf') format("truetype");*/
/*}*/
/*@font-face {*/
/*    font-family: "Nunito";*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url('../fonts/Nunito-Medium.woff2') format("woff2"),*/
/*    url('../fonts/Nunito-Medium.woff') format("woff");*/
/*}*/
/*@font-face {*/
/*    font-family: "Nunito";*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url('../fonts/Nunito-Bold.woff2') format("woff2"),*/
/*    url('../fonts/Nunito-Bold.woff') format("woff");*/
/*}*/
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 125 950;
  src: local("Nunito[wght]"), url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 125 950;
  src: local("Comfortaa[wght]"), url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
}
*, *::before, *::after {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  body *, body *::before, body *::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
    scroll-behavior: auto !important;
    background-attachment: initial !important;
    view-transition-name: none !important;
  }
}
body {
  background-color: hsl(0, 0%, 100%);
  color: #000000;
  font-family: Nunito, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input[type=number].no-arrows {
  -moz-appearance: textfield;
}
input[type=number].no-arrows::-webkit-outer-spin-button, input[type=number].no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  visibility: hidden;
  position: absolute;
  width: 0;
  font-size: 0;
}

.bg_black {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
}

.green {
  color: #3AAA35;
}
.green_dark {
  color: hsl(187, 100%, 18%);
}

.underline {
  text-decoration: underline;
}

main {
  margin-top: 60px;
  font-size: 18px;
}
main img {
  max-width: 600px;
}

.container {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}
.container_body {
  position: relative;
  overflow: hidden;
}
.container_1370 {
  margin: 0 auto;
  padding: 0;
  max-width: 1370px;
  width: 100%;
}
.container_560 {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 592px;
  width: 100%;
}

.wrapper_center {
  display: flex;
  justify-content: center;
}

.title_h1 {
  display: block;
  font-size: 106px;
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.1;
}
.title_h1_small {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}
.title_h2 {
  color: #3AAA35;
  font-size: 60px;
  line-height: 1;
  font-family: Comfortaa, sans-serif;
  font-weight: 700;
  text-align: center;
}
.title_h3 {
  margin: 10px 0;
  font-size: 40px;
  font-weight: 600;
  color: #3AAA35;
  line-height: 1.2;
}

.logo {
  display: inline-block;
  min-width: 80px;
}
.logo__link {
  cursor: pointer;
}
.logo__link__image {
  margin-bottom: -2px;
  width: 40px;
  height: 48px;
}
.logo span {
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  font-size: 34px;
}

.btn {
  border: none;
  font-family: Muller, sans-serif;
  cursor: pointer;
  text-decoration: none;
}
.btn_green {
  padding: 8px 30px;
  font-family: Comfortaa, sans-serif;
  font-size: 28px;
  color: white;
  background-color: #3AAA35;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.btn_burger {
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 20px;
  font-size: 0;
  background-color: inherit;
  border: none;
  z-index: 107;
  cursor: pointer;
}
.btn_burger:focus {
  outline: none;
}
.btn_burger:focus-visible {
  outline: var(--purple);
}
.btn_burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #006633;
  transition: transform 0.3s, background-color 0.3s ease-out;
}
.btn_burger span::before, .btn_burger span::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #006633;
  transition: transform 0.3s ease-in-out;
}
.btn_burger span::before {
  top: 0;
}
.btn_burger span::after {
  bottom: 0;
}
.btn_burger.active span {
  background-color: transparent;
}
.btn_burger.active span::before {
  transform: rotate(45deg);
  top: 9px;
}
.btn_burger.active span::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.btn_close {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.btn_close span {
  position: relative;
  font-size: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsl(187, 100%, 18%);
  transform: rotate(45deg);
  transition: background-color 0.3s;
}
.btn_close span::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsl(187, 100%, 18%);
  transform: rotate(90deg);
  transition: background-color 0.3s;
}
.btn_close:hover span, .btn_close:hover span::before {
  background-color: hsl(176, 100%, 33%);
}

.nav__list {
  display: flex;
  flex-flow: wrap;
  gap: 12px;
}
.nav__item {
  display: block;
}
.nav__link {
  padding: 4px;
  display: block;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 700;
  transition: color 200ms ease-in-out;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  transition: background-color 0.3s;
}
.modal.open {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: hsla(0, 0%, 0%, 0.5);
}
.modal.open .modal__dialog {
  transform: translateY(0);
}
.modal__dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.6s;
}
.modal__content {
  padding: 32px;
  background-color: hsl(0, 0%, 100%);
  width: 550px;
  max-width: 100%;
}
.modal__title {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  color: hsl(176, 100%, 33%);
}
.modal__close-wrapper {
  display: flex;
  flex-flow: row-reverse;
}
.modal__fields-wrapper {
  display: flex;
  flex-flow: column;
  gap: 16px;
}
.modal__fields-wrapper label {
  font-size: 20px;
  text-transform: uppercase;
  color: green;
}
.modal__input {
  margin-bottom: 18px;
  padding: 21px 20px;
  display: block;
  width: 100%;
  height: 38px;
  border: 1px solid #e4e4e4;
  border-radius: 0;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-align: left;
}
.modal__input::placeholder {
  color: hsl(217, 17%, 91%);
  font-weight: 300;
}
.modal__input:active {
  border-color: hsl(222, 7%, 28%);
}
.modal__input:focus {
  outline: hsl(217, 17%, 91%);
}
.modal .btn_submit {
  margin-top: 32px;
}

.quote {
  padding: 8px 30px 20px;
  position: relative;
  border-bottom: 3px solid hsla(14, 100%, 68%, 0.56);
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20px;
  width: 5px;
  background-color: hsl(187, 100%, 18%);
}

.half__wrapper {
  display: flex;
}
.half__block {
  flex: 1;
  width: 50%;
}

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.flip-vertical-left {
  -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.backflip-vertical-left {
  -webkit-animation: backflip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: backflip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@-webkit-keyframes backflip-vertical-left {
  0% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@keyframes backflip-vertical-left {
  0% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
.header {
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 100%);
  z-index: 120;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right-block {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: wrap;
}
.header__btn__burger {
  display: none;
}
.header__link {
  padding: 3px 14px;
  -webkit-transition: color 150ms ease;
  transition: color 200ms ease-in-out;
  color: #006633;
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.25px;
  text-decoration: none;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.header__link_lang {
  margin-right: 20px;
}
.header__link:hover {
  background-color: rgba(58, 170, 53, 0.1);
}
.header__link:active {
  background-color: rgba(58, 170, 53, 0.2);
}

.hero {
  padding: 240px 40px;
  position: relative;
  min-height: 80vh;
  background: #006633 url("../images/bg_hero_full.webp") no-repeat;
  background-position: 0 0, 0% 25%, 0 0;
  background-size: cover;
  color: white;
}
.hero__text {
  margin-top: 48px;
  padding: 0 0 4px 24px;
  position: relative;
  z-index: 20;
  max-width: 640px;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
}
.hero__text::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: white;
}
.hero .title_h1_small {
  font-family: Comfortaa, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}

.benefits {
  padding: 36px 0;
  background-color: #ECF7EB;
}
.benefits__item {
  margin: 0 auto;
  padding: 22px 48px;
  display: flex;
  max-width: 900px;
  height: 100%;
  background-color: white;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.benefits__item__text-block p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}
.benefits__item img {
  max-width: 400px;
}
.benefits__swiper {
  padding-bottom: 40px;
  max-width: 900px;
}
.benefits .swiper-button-next, .benefits .swiper-button-prev {
  color: #3AAA35;
  width: 45px;
  height: 45px;
  border: 3px solid #ECF7EB;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.benefits .swiper-button-next::after, .benefits .swiper-button-prev::after {
  width: 9px;
  height: 18px;
  font-size: 18px;
  font-weight: 1000;
}

.problem, .solution {
  padding: 50px 0;
}

.problem__item {
  margin-top: 40px;
  color: #006633;
}
.problem__item__text {
  font-size: 21px;
}
.problem__fact {
  margin-top: 24px;
  position: relative;
  display: flex;
  max-width: 270px;
}
.problem__fact__header {
  padding: 5px 12px;
  position: relative;
  background-color: #ECF7EB;
  display: flex;
  align-items: center;
  height: 48px;
  z-index: 20;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.problem__fact__header .btn_fact {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  color: #006633;
  cursor: pointer;
  background-color: transparent;
  transition: rotate 0.3s;
  rotate: 45deg;
  font-size: 0;
}
.problem__fact__title {
  margin: 0 32px;
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
}
.problem__fact__body {
  padding: 60px 16px 24px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  background-color: #ECF7EB;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  transition: opacity 0.2s;
  z-index: 15;
}
.problem__fact.hide .problem__fact__body {
  opacity: 0;
}
.problem__fact.hide .btn_fact {
  rotate: 0deg;
}

.solution .title_h3 {
  margin: 0 auto 24px;
  font-weight: 400;
  text-align: center;
  font-size: 44px;
  line-height: 1.2;
}
.solution__screen {
  margin-top: 32px;
  position: relative;
}
.solution__screen__text-wrapper {
  padding: 40px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.solution__screen__text_1, .solution__screen__text_2 {
  max-width: 300px;
  text-align: center;
  font-size: 21px;
}

.factors {
  padding: 32px 0;
}
.factors__list {
  margin-top: 40px;
  display: flex;
  gap: 16px;
}
.factors__item {
  padding: 10px 20px 20px 20px;
  flex: 1;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color: #ECF7EB;
  text-align: center;
}
.factors__item__image-wrapper {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.factors__item img {
  max-width: 100%;
  max-height: 100%;
}
.factors__item p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.2;
}
.factors__item:nth-child(4) img, .factors__item:nth-child(5) img {
  height: 80%;
}

.systema {
  margin-top: 40px;
}
.systema .title_h3 {
  max-width: 720px;
}
.systema__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(236px, 560px));
  justify-content: center;
  gap: 1rem;
}
.systema__item {
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  z-index: 90;
}
.systema__item__intro {
  padding: 24px 68px 42px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #ECF7EB;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  overflow: hidden;
  z-index: 20;
}
.systema__item__info {
  padding: 24px 68px 42px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #ECF7EB;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  z-index: 10;
  transform: rotateY(180deg);
}
.systema__item__info__text {
  margin-top: 30px;
  font-weight: 300;
  font-size: 22px;
}
.systema__item__link {
  position: absolute;
  bottom: 42px;
  right: 64px;
  width: 48px;
  height: 30px;
  transition: translate 0.2s;
}
.systema__item .title_h4 {
  margin-left: auto;
  max-width: 290px;
  text-align: right;
  font-family: Comfortaa, sans-serif;
  font-size: 36px;
  color: #3AAA35;
}
.systema__item_hard img {
  position: absolute;
  top: 0;
  left: -5%;
  height: 120%;
}
.systema__item_soft img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
}
.systema__item:hover .systema__item__link {
  translate: 16px;
}
.systema__item.flip-vertical-left {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.abilities {
  margin-top: 40px;
}
.abilities__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  flex-flow: wrap;
  gap: 16px;
}
.abilities__item {
  padding: 20px 64px 20px 0;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 700px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color: #ECF7EB;
  font-size: 21px;
}
.abilities__item img {
  max-width: 172px;
}
.abilities__conclusion {
  margin: 32px auto 0;
  padding: 0 8px;
  display: flex;
  gap: 32px;
  align-items: center;
  font-size: 21px;
  font-weight: 300;
  max-width: 670px;
  text-wrap: balance;
}
.abilities__conclusion svg {
  width: 60px;
  flex-shrink: 0;
}

.about {
  padding: 50px 0;
}
.about__tabs-wrapper {
  display: flex;
  gap: 10%;
}
.about__tab-list {
  display: flex;
  flex-flow: column;
  flex: 3;
}
.about__tab {
  border: none;
  background-color: white;
}
.about__tab span {
  margin: 0.5em 0 1em;
  display: block;
  font-size: 36px;
  font-family: Nunito, sans-serif;
}
.about__tab img {
  opacity: 0.5;
  width: 240px;
  height: 240px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  object-fit: cover;
}
.about__tab.active img {
  opacity: 1;
}
.about__content {
  margin-top: 32px;
}
.about__content__tab {
  padding: 32px 44px;
  border-radius: 12px;
  background-color: #ECF7EB;
}
.about__content__header {
  margin-bottom: 32px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-family: Comfortaa, sans-serif;
}
.about__content__title {
  flex: 1;
  font-weight: 400;
  font-size: 36px;
}
.about__content__occupation {
  flex: 1;
  font-size: 22px;
  color: #3AAA35;
  text-transform: uppercase;
  text-align: right;
}

.contacts {
  padding: 20px 0;
}
.contacts__content {
  margin-top: 20px;
  display: flex;
  gap: 40px;
}
.contacts__block_1 {
  flex: 4;
  display: flex;
  flex-flow: column;
  gap: 40px;
}
.contacts__block_1__item {
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.contacts__block_2 {
  flex: 3;
}
.contacts__block_3 {
  flex: 3;
}
.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}
.contacts__title {
  font-size: 30px;
  font-family: Comfortaa, sans-serif;
  line-height: 1.2;
  color: #006633;
}
.contacts__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.contacts__text span {
  white-space: nowrap;
}
.contacts__link {
  position: relative;
  font-size: 22px;
  font-weight: 250;
  color: #3AAA35;
}
.contacts__link::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 6px;
  height: 1px;
  background-color: #3AAA35;
  transition: bottom 0.2s ease, width 0.2s ease, left 0.2s ease, height 0.2s ease;
}
.contacts__link:hover::after {
  bottom: 3px;
  width: calc(100% + 6px);
  left: -3px;
  height: 2px;
}
.contacts__link:active {
  color: #006633;
}
.contacts__link:active::after {
  background-color: #006633;
}
.contacts__callback {
  text-align: center;
}
.contacts .form {
  margin: 40px 0 20px;
}
.contacts .form__fields-wrapper {
  padding: 0 15px;
  display: flex;
  flex-flow: column;
  max-width: 360px;
  width: 100%;
}
.contacts .form__field {
  margin-bottom: 22px;
  padding: 0 12px;
  background-color: #ECF7EB;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: none;
}
.contacts .form__field::placeholder {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #3AAA35;
  opacity: 0.5;
}
.contacts .form__input {
  height: 40px;
}
.contacts .form__textarea {
  padding: 10px 12px;
  height: 100px;
}
.contacts .form .callback__status {
  font-size: 13px;
  line-height: 1.1;
  margin: 8px 0;
}

.swiper-pagination {
  text-align: left;
}
.swiper-pagination-bullet {
  width: 80px;
  height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #3AAA35;
}
.swiper-pagination-bullet:hover {
  background-color: #C6EDC3;
}
.swiper-pagination-bullet:active {
  background-color: #3AAA35;
  opacity: 0.6;
}
.swiper-slide {
  height: auto;
}

.iframe__wrapper {
  padding: 0;
  overflow: hidden;
}
.iframe__wrapper_hive {
  width: auto;
  aspect-ratio: 1620/800;
}
.iframe__wrapper_hive .iframe_hive {
  width: 1620px;
  height: 800px;
  border: 0;
  -ms-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -o-transform: scale(0.85);
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}
.iframe__wrapper_2hard {
  width: 100%;
  aspect-ratio: 578/555;
}
.iframe__wrapper_2hard .iframe_2hard {
  width: 1156px;
  height: 1138px;
  border: 0;
  -ms-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.iframe__wrapper_rocketscience {
  width: 100%;
  aspect-ratio: 553/595;
}
.iframe__wrapper_rocketscience .iframe_rocketscience {
  width: 1105px;
  height: 1190px;
  border: 0;
  -ms-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.iframe_resp {
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.footer {
  padding: 40px 0;
  border-top: 1px solid #3AAA35;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__copyright {
  align-self: end;
}
.footer .nav {
  position: relative;
}
.footer .nav__list {
  display: block;
  justify-content: center;
}
.footer .nav__link {
  padding-left: 10px;
  color: #006633;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}
.footer .nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: -12px;
  width: 2px;
  height: calc(100% - 12px);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-color: #3AAA35;
}

@media only screen and (max-width: 1190px) {
  .factors__item p {
    font-size: 18px;
  }
  .about__tabs-wrapper {
    gap: 64px;
  }
}
@media only screen and (max-width: 1024px) {
  .header__link {
    font-size: 20px;
  }
  .nav__list {
    gap: 0;
  }
  .solution__screen__text_1, .solution__screen__text_2 {
    font-size: 20px;
  }
  .solution .abilities__item {
    padding: 20px 48px 20px 0;
    gap: 24px;
    font-size: 18px;
  }
  .solution .abilities__item:nth-child(odd) {
    padding: 20px 16px 20px 36px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
  }
  .solution .abilities__item:nth-child(even) {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }
  .solution .abilities .container {
    padding: 0;
  }
  .solution .about__content__occupation {
    font-size: 18px;
  }
  .solution .about__tab img {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (max-width: 960px) {
  .factors__item {
    padding: 4px 16px 16px 16px;
  }
  .factors__item p {
    font-size: 14px;
  }
  .about__tab-list {
    flex-flow: row;
    justify-content: space-around;
  }
  .about__tab span {
    margin-bottom: 0;
  }
  .about__tabs-wrapper {
    margin-top: 40px;
    flex-flow: column;
    gap: 0;
  }
  .about__content__tab > p {
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 896px) {
  .header__right-block {
    padding: 16px 24px 32px 24px;
    position: absolute;
    justify-content: flex-start;
    background-color: #006633;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    transition: translate 0.3s ease-in-out;
    translate: 0 -100%;
  }
  .header__right-block.active {
    translate: 0 60px;
  }
  .header__link {
    color: white;
  }
  .header__btn__burger {
    display: block;
  }
  .header .nav__list {
    flex-flow: column;
    gap: 8px;
  }
  .benefits__item__text-block p {
    font-size: 20px;
  }
  .benefits__item .title_h3 {
    font-size: 32px;
  }
  .benefits__item img {
    max-width: 50%;
  }
  .abilities__item {
    flex-flow: column;
  }
  .abilities__item:nth-child(even) {
    padding: 20px 36px;
  }
  .abilities__item img {
    max-width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .title_h2 {
    font-size: 52px;
  }
  .hero {
    padding: 180px 40px;
  }
  .benefits__item__text-block p {
    font-size: 18px;
  }
  .benefits__item .title_h3 {
    font-size: 28px;
  }
  .problem__item_1 {
    flex-flow: column;
  }
  .problem__item_2 {
    flex-flow: column-reverse;
  }
  .problem__item .half__block {
    width: 100%;
  }
  .problem__item .iframe__wrapper {
    margin: 0 auto;
    width: 80%;
  }
  .problem__item__text {
    font-size: 20px;
  }
  .problem__item__text > p {
    margin-bottom: 12px;
  }
  .problem__fact {
    margin: 24px auto 0;
  }
  .solution .title_h3 {
    font-size: 36px;
  }
  .solution__screen__text-wrapper {
    padding: 32px 0 24px;
  }
  .solution__screen__text_1, .solution__screen__text_2 {
    font-size: 18px;
  }
  .factors__list {
    flex-flow: wrap;
    justify-content: center;
  }
  .factors__item {
    width: 160px;
    flex: unset;
  }
  .about__tab span {
    font-size: 30px;
  }
  .about__content__title {
    font-size: 30px;
  }
  .footer .container {
    flex-flow: wrap;
  }
  .footer__copyright {
    order: 3;
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    padding: 0 32px;
  }
  .title_h2 {
    font-size: 40px;
  }
  .hero {
    padding: 80px 40px;
    min-height: unset;
  }
  .hero .title_h1 {
    font-size: 64px;
    text-align: left;
  }
  .hero .title_h1_small {
    font-size: 24px;
  }
  .benefits__item {
    padding: 16px 24px;
    flex-flow: column;
  }
  .benefits__item img {
    margin: 0 auto;
    max-width: 80%;
    width: 300px;
  }
  .benefits .title_h3 {
    text-align: center;
  }
  .benefits .swiper-pagination {
    text-align: center;
  }
  .benefits .swiper-pagination-bullet {
    width: 48px;
  }
  .benefits .swiper-button-prev, .benefits .swiper-button-next {
    display: none;
  }
  .problem__item__text {
    font-size: 18px;
  }
  .problem__fact {
    display: block;
    background-color: #ECF7EB;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
  }
  .problem__fact__header {
    justify-content: center;
  }
  .problem__fact__body {
    padding: 0 16px 16px;
    position: static;
  }
  .problem__fact.hide .problem__fact__body {
    opacity: 1;
  }
  .problem__fact .btn_fact {
    display: none;
  }
  .solution .title_h3 {
    font-size: 24px;
    max-width: 80%;
  }
  .solution .iframe__wrapper_hive {
    margin: 0 -40px;
  }
  .systema__item__intro {
    padding: 20px 32px;
  }
  .systema__item__info {
    padding: 20px 32px 32px;
  }
  .systema__item__info__text {
    font-size: 20px;
  }
  .systema__item .title_h4 {
    font-size: 32px;
  }
  .abilities__item:nth-child(odd) {
    padding-top: 0;
  }
  .abilities__item:nth-child(even) {
    padding: 0 36px 20px 24px;
  }
  .about__content__header {
    flex-flow: column;
  }
  .about__content__title {
    text-align: center;
  }
  .contacts__content {
    flex-flow: wrap;
  }
}
@media only screen and (max-width: 576px) {
  .systema__item__info__text {
    font-size: 18px;
  }
  .systema__item .title_h4 {
    font-size: 28px;
  }
  .about__content__tab {
    padding: 28px 24px 12px;
  }
  .solution__screen__text_1, .solution__screen__text_2 {
    font-size: 16px;
  }
  .solution .iframe__wrapper_hive {
    margin: 0 -64px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    padding: 0 16px;
  }
  .title_h2 {
    font-size: 32px;
  }
  .hero {
    padding: 36px 16px 48px;
  }
  .hero .title_h1 {
    font-size: 48px;
  }
  .hero .title_h1_small {
    font-size: 20px;
  }
  .benefits__item__text-block p {
    font-size: 16px;
  }
  .benefits__item .title_h3 {
    font-size: 24px;
  }
  .benefits__item img {
    max-width: 100%;
  }
  .problem__item__text {
    font-size: 16px;
  }
  .solution__screen__text-wrapper {
    padding: 20px 0 10px;
  }
  .solution__screen__text_1, .solution__screen__text_2 {
    max-width: 250px;
  }
  .solution .abilities__list {
    gap: 10px;
  }
  .solution .abilities__item {
    font-size: 16px;
  }
  .solution .abilities__item:nth-child(odd), .solution .abilities__item:nth-child(even) {
    padding: 0 24px 20px;
  }
  .solution .abilities__item img {
    max-width: 80%;
  }
  .systema__item__intro {
    padding: 20px 20px 28px;
  }
  .systema__item__info {
    padding: 20px 20px 28px;
  }
  .systema__item__info__text {
    font-size: 16px;
  }
  .systema__item .title_h4 {
    font-size: 24px;
  }
  .factors__list {
    gap: 10px;
  }
  .about__content__occupation {
    font-size: 16px;
  }
  .about__tab img {
    width: 120px;
    height: 120px;
  }
  .footer .container {
    flex-flow: column;
    align-items: center;
  }
}
@media only screen and (max-width: 360px) {
  .container {
    padding: 0 8px;
  }
  .title_h2 {
    font-size: 24px;
  }
  .hero {
    padding: 36px 0px 48px;
  }
  .hero .title_h1 {
    font-size: 45px;
  }
  .benefits .swiper-pagination {
    display: flex;
    justify-content: space-between;
  }
  .benefits .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .solution .title_h3 {
    font-size: 20px;
    max-width: unset;
  }
  .systema__item__intro {
    padding: 20px;
  }
  .systema__item__info__text {
    font-size: 14px;
  }
  .abilities__item {
    font-size: 14px;
  }
  .abilities__item:nth-child(odd), .abilities__item:nth-child(even) {
    padding: 0 12px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
