//  COLORS
$black: hsl(0, 0%, 20%)
$almostBlack: #121723
$darkGrey: #292E39
$grey: #A1A6B4
$lightGrey: hsl(212, 38%, 92%)
$white: hsl(0, 0%, 100%)
$turquoise: hsl(176, 100%, 33%)
$darkGreen: hsl(187, 100%, 18%)

$themeGreen: #006633
$green: #3AAA35
$lightGreen: #ECF7EB

//  FONTS
$f10: 0.625rem
$f12: 0.75rem
$f16: 1rem
$f20: 1.25rem
$f48: 3rem
$f60: 3.75rem
