.footer
  padding: 40px 0
  border-top: 1px solid $green
  .container
    display: flex
    justify-content: space-between
    gap: 32px
  &__logo
    display: flex
    align-items: center

  &__copyright
    align-self: end

  .nav
    //flex: 2
    &__list
      display: block
      //grid-template-columns: repeat(auto-fit, minmax(180px, auto))
      justify-content: center
    &__link
      color: $themeGreen
      &:hover
        //color: red
