.header
  padding: 4px 0
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: $white
  z-index: 120
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
  &__right-block
    margin-left: auto
    display: flex
    align-items: center
    justify-content: flex-end
    flex-flow: wrap
  &__btn__burger
    display: none
  &__link
    padding: 3px 14px
    -webkit-transition: color 150ms ease
    transition: color 200ms ease-in-out
    color: $themeGreen
    font-family: Comfortaa, sans-serif
    font-weight: 400
    font-size: 24px
    line-height: 1
    letter-spacing: 0.25px
    text-decoration: none
    height: 30px
    +border-radius(15px)
    &_lang
      margin-right: 20px
    &:hover
      background-color: rgba(58, 170, 53, 0.1)
    &:active
      background-color: rgba(58, 170, 53, 0.2)
