.hero
  padding: 240px 40px
  position: relative
  min-height: 80vh
  background: $themeGreen url("../images/bg_hero_full.webp") no-repeat
  background-position: 0 0, 0% 25%, 0 0
  background-size: cover
  color: white
  //&__shadow-wrapper
  //  position: absolute
  //  z-index: 10
  //  top: 0
  //  bottom: 0
  //  left: 0
  //  right: 0
  //  background: linear-gradient(hsla(0, 0%, 0%, 0.15), hsla(0, 0%, 0%, 0.4))
    //background-color: hsla(0, 0%, 0%, 0.25)
  &__text
    margin-top: 48px
    padding: 0 0 4px 24px
    position: relative
    z-index: 20
    max-width: 640px
    color: $white
    font-weight: 300
    font-size: 18px
    line-height: 1.33
    &::before
      content: ''
      display: block
      position: absolute
      top: 4px
      left: 0
      width: 3px
      height: 100%
      background-color: white
  .title_h1_small
    font-family: Comfortaa, sans-serif
    font-size: 30px
    font-weight: 400
    line-height: 1.2

.benefits
  padding: 36px 0
  background-color: #ECF7EB
  &__item
    margin: 0 auto
    padding: 22px 48px
    display: flex
    max-width: 900px
    height: 100%
    background-color: white
    -webkit-border-radius: 16px
    -moz-border-radius: 16px
    border-radius: 16px
    &__text-block
      p
        font-size: 24px
        font-weight: 300
        line-height: 1.2
    img
      max-width: 400px
  &__swiper
    padding-bottom: 40px
    max-width: 900px
  .swiper-button-next, .swiper-button-prev
    color: $green
    width: 45px
    height: 45px
    border: 3px solid #ECF7EB
    +border-radius(50%)
    &::after
      width: 9px
      height: 18px
      font-size: 18px
      font-weight: 1000

.problem, .solution
  padding: 50px 0

.problem
  &__item
    margin-top: 40px
    color: $themeGreen
    &__text
      font-size: 21px
  &__fact
    margin-top: 24px
    position: relative
    display: flex
    max-width: 270px
    &__header
      padding: 5px 12px
      position: relative
      background-color: #ECF7EB
      display: flex
      align-items: center
      //gap: 32px
      height: 48px
      z-index: 20
      +border-radius(24px)
      .btn_fact
        padding: 8px
        +center()
        width: 36px
        height: 36px
        color: $themeGreen
        cursor: pointer
        background-color: transparent
        transition: rotate 0.3s
        rotate: 45deg
        font-size: 0
    &__title
      margin: 0 32px
      font-family: Comfortaa, sans-serif
      font-weight: 400
      font-size: 30px
      line-height: 1
    &__body
      padding: 60px 16px 24px
      position: absolute
      top: 0
      left: 0
      text-align: center
      font-size: 14px
      line-height: 1.2
      font-weight: 300
      background-color: #ECF7EB
      +border-radius(24px)
      transition: opacity 0.2s
      z-index: 15
    &.hide
      .problem__fact__body
        opacity: 0
      .btn_fact
        rotate: 0deg

.solution
  .title_h3
    margin: 0 auto 24px
    font-weight: 400
    text-align: center
    font-size: 44px
    line-height: 1.2
  &__screen
    margin-top: 32px
    position: relative
    &__text
      &-wrapper
        padding: 40px 0
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        display: flex
        flex-flow: column
        justify-content: space-between
        align-items: center
      &_1, &_2
        max-width: 300px
        text-align: center
        font-size: 21px

.factors
  padding: 32px 0
  &__list
    margin-top: 40px
    display: flex
    gap: 16px
  &__item
    padding: 10px 20px 20px 20px
    flex: 1
    -webkit-border-radius: 16px
    -moz-border-radius: 16px
    border-radius: 16px
    background-color: #ECF7EB
    text-align: center
    &__image-wrapper
      height: 128px
      +center()
    img
      max-width: 100%
      max-height: 100%
    p
      font-size: 21px
      font-weight: 300
      line-height: 1.2
    &:nth-child(4), &:nth-child(5)
      img
        height: 80%

.systema
  margin-top: 40px
  .title_h3
    max-width: 720px
  &__list
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(236px, 560px))
    justify-content: center
    gap: 1rem
  &__item
    //width: 50%
    //aspect-ratio: 1
    //-webkit-border-radius: 24px
    //-moz-border-radius: 24px
    //border-radius: 24px
    //background-color: #ECF7EB
    transform: translate3d(0, 0, 0)
    transform-style: preserve-3d
    z-index: 90
    &__intro
      padding: 24px 68px 42px
      position: absolute
      width: 100%
      height: 100%
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      background-color: #ECF7EB
      -webkit-border-radius: 24px
      -moz-border-radius: 24px
      border-radius: 24px
      overflow: hidden
      z-index: 20
    &__info
      padding: 24px 68px 42px
      //position: absolute
      width: 100%
      height: 100%
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      background-color: #ECF7EB
      -webkit-border-radius: 24px
      -moz-border-radius: 24px
      border-radius: 24px
      z-index: 10
      transform: rotateY(180deg)
      &__text
        margin-top: 30px
        font-weight: 300
        font-size: 22px
    &__link
      position: absolute
      bottom: 42px
      right: 64px
      width: 48px
      height: 30px
      transition: translate 0.2s
    .title_h4
      margin-left: auto
      max-width: 290px
      text-align: right
      font-family: Comfortaa, sans-serif
      font-size: 36px
      color: $green
    &_hard
      img
        position: absolute
        top: 0
        left: -5%
        height: 120%
    &_soft
      img
        position: absolute
        bottom: 0
        left: 0
        height: 90%
    &:hover
      .systema__item__link
        translate: 16px
    &.flip-vertical-left
      -webkit-transform: rotateY(0)
      transform: rotateY(0)

.abilities
  margin-top: 40px
  &__list
    display: grid
    justify-content: center
    //grid-template-columns: repeat( auto-fit, minmax(300px, 480px) )
    //grid-auto-columns: minmax(1fr, 300px)
    grid-template-columns: repeat(2, minmax(0, 1fr))
    flex-flow: wrap
    gap: 16px
  &__item
    padding: 20px 64px 20px 0
    flex: 1
    display: flex
    align-items: center
    gap: 40px
    max-width: 700px
    -webkit-border-radius: 16px
    -moz-border-radius: 16px
    border-radius: 16px
    background-color: #ECF7EB
    font-size: 21px
    img
      max-width: 172px
  &__conclusion
    margin: 32px auto 0
    padding: 0 8px
    display: flex
    gap: 32px
    align-items: center
    font-size: 21px
    font-weight: 300
    max-width: 670px
    text-wrap: balance
    svg
      width: 60px
      flex-shrink: 0

.about
  padding: 50px 0
  &__tabs-wrapper
    display: flex
    gap: 10%
  &__tab-list
      display: flex
      flex-flow: column
      flex: 3
  &__tab
    border: none
    background-color: white
    span
      margin: 0.5em 0 1em
      display: block
      font-size: 36px
      font-family: Nunito, sans-serif
    img
      opacity: 0.5
      width: 240px
      height: 240px
      +round()
      object-fit: cover
    &.active
      img
        opacity: 1
  &__content
    margin-top: 32px
    &__tab
      padding: 32px 44px
      border-radius: 12px
      background-color: #ECF7EB
    &__header
      margin-bottom: 32px
      display: flex
      gap: 1rem
      justify-content: space-between
      align-items: center
      font-family: Comfortaa, sans-serif
    &__title
      flex: 1
      font-weight: 400
      font-size: 36px
    &__occupation
      flex: 1
      font-size: 22px
      color: $green
      text-transform: uppercase
      text-align: right


.contacts
  padding: 20px 0
  &__content
    margin-top: 20px
    display: flex
    gap: 40px
  &__block
    &_1
      flex: 4
      display: flex
      flex-flow: column
      gap: 40px
      &__item
        -moz-border-radius-topright: 20px
        border-top-right-radius: 20px
        -moz-border-radius-bottomright: 20px
        border-bottom-right-radius: 20px
        overflow: hidden
    &_2
      flex: 3
    &_3
      flex: 3
  &__item:not(:last-child)
    margin-bottom: 30px
  &__title
    font-size: 30px
    font-family: Comfortaa, sans-serif
    line-height: 1.2
    color: $themeGreen
  &__text
    font-size: 20px
    font-weight: 400
    line-height: 1.2
    span
      white-space: nowrap
  &__link
    position: relative
    font-size: 22px
    font-weight: 250
    color: $green
    //text-decoration: underline
    &::after
      content: ''
      position: absolute
      width: 100%
      left: 0
      bottom: 6px
      height: 1px
      background-color: $green
      transition: bottom 0.2s ease, width 0.2s ease, left 0.2s ease, height 0.2s ease
    &:hover
      &::after
        bottom: 3px
        width: calc(100% + 6px)
        left: -3px
        height: 2px
    &:active
      color: $themeGreen
      &::after
        background-color: $themeGreen
  &__callback
    text-align: center
  .form
    margin: 40px 0 20px
    &__fields-wrapper
      padding: 0 15px
      display: flex
      flex-flow: column
      max-width: 360px
      width: 100%
    &__field
      margin-bottom: 22px
      padding: 0 12px
      background-color: $lightGreen
      +border-radius(20px)
      border: none
      &::placeholder
        font-family: Nunito, sans-serif
        font-size: 18px
        line-height: 1.2
        font-weight: 300
        color: $green
        opacity: 0.5
    &__input
      height: 40px
    &__textarea
      padding: 10px 12px
      height: 100px
    .callback__status
      font-size: 13px
      line-height: 1.1
      margin: 8px 0

.swiper
  &-pagination
    text-align: left
    &-bullet
      width: 80px
      height: 12px
      +border-radius(6px)
      background-color: white
      opacity: 1
      &-active
        background-color: $green
      &:hover
        background-color: #C6EDC3
      &:active
        background-color: #3AAA35
        opacity: 0.6
  &-slide
    height: auto

.iframe
  &__wrapper
    padding: 0
    overflow: hidden
    &_hive
      width: auto
      aspect-ratio: 1620/800
      .iframe_hive
        width: 1620px
        height: 800px
        border: 0
        -ms-transform: scale(0.85)
        -moz-transform: scale(0.85)
        -o-transform: scale(0.85)
        -webkit-transform: scale(0.85)
        transform: scale(0.85)

    &_2hard
      //width: 578px
      //height: 555px
      width: 100%
      aspect-ratio: 578 / 555
      .iframe_2hard
        width: 1156px
        height: 1138px
        border: 0
        -ms-transform: scale(0.5)
        -moz-transform: scale(0.5)
        -o-transform: scale(0.5)
        -webkit-transform: scale(0.5)
        transform: scale(0.5)

    &_rocketscience
      //width: 553px
      //height: 595px
      width: 100%
      aspect-ratio: 553/595
      .iframe_rocketscience
        width: 1105px
        height: 1190px
        border: 0
        -ms-transform: scale(0.5)
        -moz-transform: scale(0.5)
        -o-transform: scale(0.5)
        -webkit-transform: scale(0.5)
        transform: scale(0.5)

  &_resp
    -ms-transform-origin: 0 0
    -moz-transform-origin: 0 0
    -o-transform-origin: 0 0
    -webkit-transform-origin: 0 0
    transform-origin: 0 0


